@page
@model Menuzama1.Pages.Clients.IndexModel

@{
    ViewData["Title"] = "Clients";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Client[0].FullName)</th>
            <th>@Html.DisplayNameFor(model => model.Client[0].Adress)</th>
            <th>@Html.DisplayNameFor(model => model.Client[0].Email)</th>
            <th>@Html.DisplayNameFor(model => model.Client[0].Phone)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Client != null && Model.Client.Any())
        {
            foreach (var item in Model.Client)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.FullName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Adress)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.Phone)</td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">No clients available.</td>
            </tr>
        }
    </tbody>
</table>
