@page "/"
@model Menuzama1.Pages.MenuItems.IndexModel

@{
    ViewData["Title"] = "Menu";
}

<h1>Menu</h1>

<!-- Formular pentru filtrarea articolelor pe categorii -->
<form method="get" class="mb-3">
    <div class="form-group">
        <label for="categoryFilter">Filter by Category:</label>
        <select id="categoryFilter" name="SelectedCategory" asp-items="Model.Categories" class="form-control">
            <option value="">All Categories</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Filter</button>
</form>

<p>
    <a asp-page="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].MenuItemType.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MenuItem[0].Category.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MenuItem)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MenuItemType.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.Name)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
